$color_primary-dark: #242424;
$color_primary-bright: #c5ac59;
$color_background: #1d1d1d;
$color-text: black;
$color_dull-white: #d8d8d8;

$font-family_serif: 'EB Garamond', 'Times New Roman', serif;
$font-family_sans-serif: 'Lato', Arial, sans-serif;