$color_true-black: #000;
$color_true-white: #fff;
$color_coal-black: #1d1d1d;
$color_dark-gray: #242424;
$color_medium-gray: #525252;
$color_dull-gold: #c5ac59;
$color_bright-gold: #f7d672;
$color_dull-white: #d8d8d8;
$color_bright-red: #dd4127;
$color_dull-red: #aa3a2e;
$color_dark-gold: #8c7346;

$color_background: $color_coal-black;
$color-text: $color_dull-white;

$font-family_serif: 'EB Garamond', 'Times New Roman', serif;
$font-family_sans-serif: 'Lato', Arial, sans-serif;
