@import "../styles/_variables";

h1, h2 {
  font-family: $font-family_serif;
}

p {
  margin: 1rem 0;
}

.cards-layout {
  margin: 0 auto;
  max-width: 1600px;
}

.container {
  margin: 2rem 2rem 2.5rem;
}
