@import "../styles/_variables";

.cards-list {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: calc(100% - 1fr);
}

.card {
  display: grid;
  width: 100%;
  border: 2px solid $color_medium-gray;
  background: no-repeat center 35%;
  background-clip: border-box;
  background-size: 135%;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h2, ul {
    margin: 0 2rem;
    background: rgba(0, 0, 0, 0.85);
  }

  h2 {
    margin-top: 1rem;
    padding: 0.5rem 0;
    align-self: center;
    color: $colvar_main;
    font-size: 1.5rem;
    text-align: center;
  }

  img {
    width: 100%;
  }

  strong {
    margin-right: 0.5rem;
    color: $colvar_main-dull;
    font-weight: bold;
  }

  ul {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    color: $colvar_text-emphasis;
    list-style-type: none;
    line-height: 1.5rem;
  }

  li {
    padding: 0.1rem 0;
  }

  .card-inner {
    display: grid;
    grid-auto-rows: minmax(100px, auto) 1fr;
    grid-gap: 2rem;
    background: rgba(255, 255, 255, 0.2);
    // Limited support
    backdrop-filter: blur(10px);
  }
}