@import "../styles/_variables";

.card {
  display: inline-block;
  background: $color_primary-dark;
  border: 2px solid black;
  margin: 1rem auto;
  padding: 1rem;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    color: $color_primary-bright;
    font-size: 1.75rem;
    text-align: center;
    margin: 0.5rem auto 2rem;
  }

  img {
    width: 100%;
  }

  strong {
    font-weight: bold;
    margin-right: 0.3rem;
  }

  ul {
    margin: 1rem 0;
    list-style-type: none;
    line-height: 1.5rem;
  }

  li {
    //margin: 0.5rem 0;
  }

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }

  th {
    width: 25%;
  }
}