@import "../styles/_variables";

.card {
  min-height: 40vh;
  border: 2px solid $color_medium-gray;
  margin: 2rem auto;
  padding: 0 2rem;
  background: no-repeat center 35%;
  background-clip: border-box;
  background-size: 135%;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h2, ul {
    background: rgba(0,0,0,0.66);
  }

  h2 {
    padding: 0.5rem 0;
    color: $color_bright-gold;
    font-size: 1.75rem;
    text-align: center;
  }

  img {
    width: 100%;
  }

  strong {
    font-weight: bold;
    margin-right: 0.3rem;
  }

  ul {
    padding: 1rem;
    list-style-type: none;
    line-height: 1.5rem;
    color: white;
  }

  li {
    padding: 0.1rem 0;
  }

  strong {
    color: $color_dull-gold;
  }

  .card-inner {
    display: flex;
    flex-flow: column nowrap;
  }
}