@import "../styles/_variables";

.main-header {
  text-align: center;

  h1 {
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $color_dull-red;

    &:before {
      content: 'Elder Scrolls Legends Card Browser';
      position: absolute;
      left: 1%;
      top: 1%;
      color: $color_bright-gold;
      z-index: 1;
    }
  }
}