@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  background: $color_background;
  color: $color_dull-white;
  font-size: 16px;
  font-family: $font-family_sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
