@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&display=swap');

body {
  margin: 0;
  background: $color_background;
  color: white;
  font-size: 16px;
  font-family: $font-family_sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: $font-family_serif;
}

p {
  margin: 1rem 0;
}

.container {
  margin: 2rem 1rem;
}