@import "../styles/_variables";

.scroll-top {
  position: fixed;
  right: 0.5rem;
  bottom: 0;
  transform: translateY(200%);
  padding: 0.5rem;
  color: $colvar_text-emphasis;
  background: rgba(0, 0, 0, 0.75);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms all linear;

  &:hover, &:active, &:focus {
    box-shadow: 0 0 0.75rem 2px $colvar_main;
  }

  &.visible {
    transform: translateY(-50%);
  }

  svg {
    font-size: 3rem;
  }

  div {
    text-transform: uppercase;
    font-weight: bold;
  }
}