@import "../styles/_variables";

.scroll-top {
  position: fixed;
  right: 0.5rem;
  bottom: 0;
  color: $color_dull-white;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 40px;
  padding: 0.5rem;
  cursor: pointer;
  transform: translateY(200%);
  transition: 500ms all ease-out;

  &:hover, &:active, &:focus {
    box-shadow: 0 0 10px 3px $color_dull-gold;
  }

  &.visible {
    transform: translateY(-50%);
  }

  svg {
    font-size: 3rem;
  }

  div {
    text-transform: uppercase;
    font-weight: bold;
  }
}